include ../../_config

doctype html
html(lang="ja")
  head
    include ../../include/_head
    title イラスト実績 キウイ - namikimura
  body
    h1 kiwi
    div#info
      div.description
        p 制作年: 2023〜2024年
        p 自主制作で、自分の好きな鳥であるキウイのイラストを継続的に描いています。
        div.detail
          img(src=ROOT_PATH+"/img/works/illust/kiwi/impact.jpg", alt="躍動感")
          p 躍動感
        div.detail
          img(src=ROOT_PATH+"/img/works/illust/kiwi/night.png", alt="夜のキウイ")
          p 夜のキウイ
        div.detail
          img(src=ROOT_PATH+"/img/works/illust/kiwi/kt-garamond.png", alt="Typographyシリーズ Garamond")
          p Typographyシリーズ Garamond
        div.detail
          img(src=ROOT_PATH+"/img/works/illust/kiwi/kt-playpensans.png", alt="Typographyシリーズ Playpen Sans")
          p Typographyシリーズ Playpen Sans
        div.detail
          img(src=ROOT_PATH+"/img/works/illust/kiwi/kt-avenir.png", alt="Typographyシリーズ Avenir")
          p Typographyシリーズ Avenir

    include ../../include/_footer
