include ../_config

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="manifest" href=ROOT_PATH+"/manifest.json")
link(rel="apple-touch-icon" sizes="180x180" href=ROOT_PATH+"/img/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href=ROOT_PATH+"/img/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href=ROOT_PATH+"/img/favicon-16x16.png")
link(rel="stylesheet" href=ROOT_PATH+"/css/reset.css")
link(rel="stylesheet" href=ROOT_PATH+"/slick/slick.css")
link(rel="stylesheet" href=ROOT_PATH+"/slick/slick-theme.css")
link(rel="stylesheet" href=ROOT_PATH+"/css/style.css")

// fonts
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Michroma&display=swap")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Bree+Serif&display=swap")
